@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
	--darkBackground: rgb(6, 6, 48);
	/* --textColor: rgb(5, 194, 201); */

	--textColor: #8969ca;
	--darkInner: rgb(54, 54, 133);
	--lightInner: rgb(217, 173, 238);
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html {
	letter-spacing: 1px;
	font-size: 1.4rem;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: var(--darkBackground);
	color: var(--textColor);
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1em;
	color: var(--textColor);
	box-shadow: 0px -10px 30px var(--textColor);
	padding: 0 1em;
}

.navLink {
	transition: all 0.1s ease-in-out;
}

.navLink:hover {
	color: rgb(255, 255, 255);
	cursor: pointer;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	max-width: 1400px;
	margin: 0 auto;
}

section div {
	text-align: center;
	width: 100%;
}

p {
	width: 400px;
	height: 400px;
	padding: 1em;
	margin: auto;
	line-height: 1.6rem;
	text-align: center;
}

button {
	padding: 0.5em;
	font-size: 0.8em;
	margin: 2em;
	border: transparent;
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--darkInner);
	color: var(--lightInner);
	letter-spacing: 0.7px;
	box-shadow: 2px 2px 0px var(--textColor);
}

button:focus-within {
	box-shadow: none;
	transform: translate(2px, 2px);
}

textarea {
	width: 400px;
	height: 2em;
	border: transparent;
	border-radius: 5px;
	padding: 0.5em;
	background-color: var(--darkInner);
	color: var(--lightInner);
}
